@import "form.scss";
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
  background-color: rgba($primary, 0);
  @media #{$mobile} {
    background-color: rgb(255, 255, 255);
  }
  .shape {
    z-index: 0;
    position: fixed;
    border-radius: 50%;
    @media #{$mobile} {
      display: none;
    }
    &.s {
      background-color: rgba($secondary, 0.2);
      width: 200px;
      height: 200px;
      top: 20%;
      left: -40px;
    }
    &.xl {
      background-color: rgba($success, 0.2);
      top: -20%;
      right: 25%;
      width: 300px;
      height: 300px;
    }
    &.xxl {
      background-color: rgba($primary, 0.2);
      right: -15%;
      bottom: -25%;
      width: 400px;
      height: 400px;
    }
  }
}
form {
  z-index: 1;
  border-radius: 8px;
  width: 100%;
  margin: 15px 0px;
  padding: 10px 15px;
  max-width: 400px;
  background-color: white;
  @media #{$mobile} {
    width: 95%;
    margin: 0px;
    box-shadow: none;
    padding: 10px 5px;
  }
  @media #{$small_mob} {
    width: 95%;
    padding: 10px 5px;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px,
    rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}
.box-root {
  top: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
  ul {
    list-style: none;
    position: absolute;
    margin: 0;
    padding: 0;
    transform: rotate(-10deg) skew(-10deg, 0);
    &.left {
      left: -4px;
      bottom: -45px;
    }
    &.right {
      right: -4px;
      top: -20px;
    }
    li {
      width: 300px;
      @media #{$tablet} {
        width: 200px;
      }
      @media #{$mobile} {
        display: none;
      }
      height: 60px;
      display: flex;
      span {
        flex: 1;
        border: 2px solid;
        padding: 0;
        &.outline {
          border-color: $grey;
        }
        &.clear {
          border-color: $clear;
          background-color: $clear;
        }
        &.primary {
          border-color: $primary;
          background-color: $primary;
        }
        &.primary_tint {
          border-color: $primary_tint;
          background-color: $primary_tint;
        }
        &.secondary {
          border-color: $secondary;
          background-color: $secondary;
        }
        &.green {
          border-color: $success;
          background-color: $success;
        }
      }
    }
  }
}
