@import "../style/auth.scss";
.box-root {
  @media #{$mobile} {
    display: flex !important;
  }
}
nav {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: $clear;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23d6e4ff' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  h1 {
    color: $primary;
    font-size: 40px;
  }
  h2 {
    text-align: center;
    color: $secondary;
    @media #{$mobile} {
      font-size: 20px;
    }
  }
  p {
    color: $primary_tint;
  }
  .link {
    z-index: 1;
    text-align: center;

    a {
      display: inline-block;
      background-color: $primary;
      padding: 10px;
      text-align: center;
      color: white !important;
      border-radius: 10px;
      margin: 5px;
      width: 150px;
      border: 2px solid $primary;
      cursor: pointer;
      &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.18);
      }
      &.outline {
        background-color: $clear;
        color: $primary !important;
        &:hover {
          background-color: rgba($primary_tint, 0.1);
        }
      }
      @media #{$mobile} {
        width: 120px;
      }
    }
  }
}

main {
  z-index: 2;
  background-color: white;
  width: 100%;

  .payments {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
    h3 {
      margin: 10px 0 20px;
      opacity: 0.5;
    }
    section {
      width: 100%;
      max-width: 600px;
      padding: 10px 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      img {
        max-width: 100px;
        max-height: 50px;
      }
    }
  }
  .steps {
    text-align: center;
    h2 {
      font-weight: normal;
      color: rgba($success, 0.8);
    }
    section {
      display: flex;
      justify-content: center;
      padding: 30px;
      flex-wrap: wrap;
      div {
        text-align: center;
        flex: 1;
        margin: 10px;
        width: 100%;
        max-width: 200px;
        min-width: 150px;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.18);
        &:hover {
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.18);
        }
        h3,
        i {
          opacity: 0.8;
        }
        p {
          opacity: 0.5;
        }
      }
    }
  }
  .why {
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    img {
      min-width: 300px;
      max-width: 400px;
    }
    section {
      min-width: 300px;
      max-width: 500px;
      line-height: 2;
      margin-right: 40px;
      text-align: right;
      h2 {
        font-size: 30px;
        @media #{$mobile} {
          font-size: 23px;
        }
        color: rgba($success, 0.5);
      }
      p {
        font-size: 20px;
        @media #{$mobile} {
          font-size: 15px;
        }
        color: rgba($primary_tint, 0.8);
      }
    }
  }
}
footer {
  width: 100%;
  z-index: 3;
  padding: 15px 0;
  border-top: 1.5px solid $grey;
  background-color: white;
  display: flex;
  font-size: 20px;
  text-align: center;
  justify-content: center;
}
